{% extends "base.html" %}

{% block content %}


<div class="w3-display-middle">
 
    <div class="w3-container" style="opacity: 0.7;">

        <form class="w3-xlarge" action="/add" method="post">

            <input class="w3-input w3-border" type="text" name="name" placeholder="Name of Site">
            <input class="w3-input w3-border" type="text" name="url" placeholder="URL of Site">
            <input class="w3-input w3-border" type="text" name="ed_firstname" placeholder="Editor's First Name">
            <input class="w3-input w3-border" type="text" name="ed_lastname" placeholder="Editor's Surname"> 
            <input class="w3-input w3-border" type="text" name="ed_datestarted" placeholder="Editor's Date Started"> 

            <div class="w3-bar w3-small w3-orange w3-padding">
                <button class="w3-bar-item w3-button w3-green" type="submit" style="width:33.3%" >Submit</button>
              </div>

        </form>

    </div>

</div>

{% endblock %}
