<!DOCTYPE html>
<html>
    {% if title %}
        <title>Landing Page - {{ title }}</title>
    {% else %}
        <title>Landing Page</title>
    {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

    <div class="w3-container w3-orange">
        <h1><a href="/home">News Stand</a>
            <a href="/add">Add</a>
            <a href="/edit">Edit</a>
            <a href="/delete">Delete</a>
            <a href="/help">Help</a>
        </h1>
    </div>

    {% block content %}{% endblock %}

</body>
</html>