{% extends "base.html" %}


{% block content %}

<div class="w3-display-middle">

    <div class="w3-container" style="opacity: 0.7;">

        <form class="w3-xlarge" action="/delete" method="post">

            
            <br>                   
            Confirm Deletion of {{ list['news_name'] }}
            <br> 
            
            <button class="btn-lg w3-block w3-small" type="submit" style="opacity: 1;">Confirm</button>                 
            <a href="/index"><button class="btn-lg w3-block w3-small" type="reset" style="opacity: 1;">Cancel</button></a> 
        </form>

    </div>

</div>






{% endblock %}