{% extends "base.html" %}


{% block content %}
<div class="w3-display-middle">

  <div  class="w3-container" style="opacity: 0.7;">
    <form action="/sites/{{id}}/edit/" method="POST">

      {% for news_id in edit_list %}
      <ul>
        <p class="titles">Site Name: <input class="w3-border" type="text" name="new_name" placeholder="{{ site_name }}"></p>
        <p class="titles">Site URL: <input class="w3-border" type="text" name="new_url" placeholder="{{ news_name }}"></p>
        <p class="titles">Editor Forname: <input class="w3-border" type="text" name="ed_fname" placeholder="{{ ed_fname }}"></p>
        <p class="titles">Editor Surname: <input class="w3-border" type="text" name="ed_lname" placeholder="{{ ed_lname }}"></p>
        <p class="titles">Editor Start Date: <input class="w3-border" type="text" name="ed_date" placeholder="{{ ed_date }}"></p>
        <button class="btn-lg w3-block w3-small" type="submit" style="opacity: 1;">Modify Entry</button></a> 
      </ul>

      {% endfor %}
    </form>
  </div>
</div>

{% endblock %}